name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x86
      
    - name: Build
      run: |
        cmd.exe /c ".\init_msvc.bat && .\build.bat"
      
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: demo
        path: bin/demo.exe 